/*CSS DOCUMENT*/

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Open+Sans+Condensed:wght@300&display=swap');


img {
    width: 100%;
    border: 2px solid rgb(52, 91, 215);
}

div.container{
    max-width: 40em;
    margin:auto;
}

div.intro{
    max-width: 40em;
    margin:auto;
    text-align: center;
    margin-bottom: 1.9em;
}

.intro{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.25em;
}

div.maincontent{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.25em;
    margin-bottom: 1em;
}

div.ingredients{
    margin-bottom: 2em;
    border: 2px solid rgb(52, 91, 215);
}


ul{
    margin-top: 0.5em;
    margin-bottom: 2em;
}

ol{
    margin-top: 0.5em;
}

h1{
    color:rgb(52, 91, 215);
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-weight: bolder;
    font-size: 3.66em;
    margin-bottom: 0em;
    margin-top: 0em;
}

h2{
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-weight: 100;
    font-size: 2em;
    margin-top: .5em;
    margin-bottom: 1em;
}

h3{
    color:rgb(52, 91, 215);
    font-family: 'Amatic SC', cursive;
    font-size: 1.5em;
    margin-bottom: 0em;
    text-align: center
}

h6{
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 1em;
}

